.bio-card {
  margin: 4em 1em 1em 3em;
  padding: 1em;
  background-color: rgba(232, 237, 240, 0.817);
}

// #bioPage {
//   border-bottom: solid 3em rgb(225, 155, 155);
//   border-bottom-height: 10em;
// }

#nso-pic {
  margin: 4em 1em 1em 2em;
  width: 500px;
}