.bio-card {
  margin: 4em;
  padding: 1em;
  background-color: rgba(232, 237, 240, 0.817);
}

#bioPage {
  background-image: url('https://publicdomainvectors.org/photos/translucent-background-7.jpg');
}