body {
    
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8e/Ex_%22Kurtz%22_Violin_MET_DP302645.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: whitesmoke;
       
    
    
}

h1 {
    font-size: 3.5em;
    text-decoration: underline;
    text-align: center;
}

#navLinks {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}


#navLinks a:hover {
    color: red;
    cursor: pointer;
}


#navLinks a {
    margin-right: 1em;
    text-decoration: underline;


}

#projectsPage.fullPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#projectsPage.projectCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 3px solid whitesmoke;
    margin: 1em;
    width: 30%;
    background-color: blue
}