body {
    
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/8e/Ex_%22Kurtz%22_Violin_MET_DP302645.jpg");
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: whitesmoke;
       
    
    
}

h1 {
    font-size: 3.5em;
    text-decoration: underline;
    text-align: center;
}

#navLinks {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}


#navLinks a:hover {
    color: red;
    cursor: pointer;
}


#navLinks a {
    margin-right: 1em;
    text-decoration: underline;


}

#projectsPage.fullPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

#projectsPage.projectCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 3px solid whitesmoke;
    margin: 1em;
    width: 30%;
    background-color: #4a89b3;
}

.projectCard img {
    width: 90%;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    background-color:#3c8484;
    margin-bottom: 0;
    height: 80px;
    align-items: center;
    list-style: none;

    
}

.footer a {
    color: whitesmoke;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}