.logo-card {
  margin: 1em;
  
  .logo-image {
    height: 350px;
    padding-top: 2em;
    
  }
}

#skills-header {
  margin: 2em;
  background-color: rgba(0, 128, 87, 0.701);
  color: rgba(255, 255, 255, 0.783);
  text-align: center;
  height: 1.5em;
}

