.logo-card {
  margin: 1em;
  
  .logo-image {
    height: 350px;
    padding-top: 2em;
    
  }
}

#skills-header {
  margin: 2em;
  background-color: rgba(0, 128, 87, 0.701);
  color: rgba(255, 255, 255, 0.783);
  text-align: center;
  height: 1.5em;
}

// #technologiesPage {
//   // background-image: url('https://c.pxhere.com/images/3f/a8/2a6de52007c310321890d0d480fb-1437665.jpg!d');
//   background-image: url('https://publicdomainvectors.org/photos/translucent-background-7.jpg');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   position: relative;
// }