.project-card {
  margin: 1em 1em 6em 3em;
}

#projectContainer {
  margin-top: 6em;
  background-image: url('https://publicdomainvectors.org/photos/translucent-background-7.jpg');
}

#project-title {
  margin-top: 3em;
  font-size: 6em;
  color: rgb(123, 61, 39);
}

#techUsed {
  font-size: .5em;
}